$dark: #1b1f26;

.nav-toggler{
    display: none;
}
.close-nav{
    display: none;
}

@media only screen and (max-width: 1000px) {
    .nav-toggler{
        display: block;
    }
    .nav-list{
        position: fixed;
        height: 100vh;
        background-color: $dark;
        width: 300px;
        top: 0;
        left: -400px;
        bottom: 0;
        transition: all 0.5s linear;
        flex-direction: column;
    }
    .nav-list.active{
        left: 0;
    }

    .close-nav{
        display: block;
    }
}